
function multiply 2
label LOOP
push argument 1
push constant 0
eq
if-goto LOOPEND

push argument 1
push constant 1
sub
pop argument 1

push temp 0
push argument 0
add
pop temp 0

goto LOOP

label LOOPEND
push temp 0
return

function Sys.init 0
push constant 15
push constant 3
call multiply 2

label WHILE
goto WHILE